
      #about {
        max-width: 1000px;
        margin: 40px auto;
        padding: 30px 40px;
        background: #f3e8d1;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
      h1 {
        text-align: center;
        color: #3b6b49;
        margin-bottom: 30px;
        font-size: 2em;
      }
      .meta::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #3b6b49;
        margin: 10px auto 0 auto;
      }


      h3{
        text-align: justify;
        margin-bottom: 16px;
        text-indent: 2em;
        font-size: 1em;
        font-weight: 100;
        color: rgb(0, 0, 0);
      }
     .about h3:first-of-type::first-letter {
       float: none;
       font-size: 2.5em;
       line-height: 1.2;
        margin-right: 0.2em;
       font-weight: bold;
      color: #3b6b49;
}

  

      @media (max-width: 900px) {
        h3::first-letter {
          font-size: 2em;
        }

      }